.matches-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 80vh;
    overflow: hidden;
  }
  
  .match-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 400px;
    text-align: left;
  }
  
  .arrow-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }